<a href="https://colab.research.google.com/github/Jaishivani/Python-programming/blob/main/Copy_of_SHIVANI_PY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s=input("Enter a string:")
B=len(s)//2
print(s[0],s[B],s[-1])

Enter a string:PRADEEP
P D P

In [ ]:
s=input("Enter a string:")
B=(len(s)//2)-1
C=len(s)//2
D=(len(s)//2)+1
print(s[B],s[C],s[D])

Enter a string:PRADEEP
A D E

In [ ]:
s1=input("Enter a string1:")
s2=input("Enter a string2:")
s3=s1[:2]+s2+s1[2:]
print(s3)

Enter a string1:STAR
Enter a string2:SUPER
STSUPERAR

In [ ]:
str1=input("Enter a string1:")
str2=input("Enter a string2:")
str3=str1[0]+str2[0]+str1[1]+str2[1]+str1[2]+str2[2]
print(str3)

Enter a string1:LEO
Enter a string2:DAS
LDEAOS

In [ ]:
str1=input("Enter a string1:")
str2=input("Enter a string2:")
str3=str1+str2
print(str3[::-1])

Enter a string1:SUPER
Enter a string2:STAR
RATSREPUS

In [ ]:
str1 = input()
chars_count = 0
digits_count = 0
symbols_count = 0

for char in str1:
    if char.isalpha():
        chars_count += 1
    elif char.isdigit():
        digits_count += 1
    else:
        symbols_count += 1

print("Total counts of chars, digits, and symbol")
print("Chars =", chars_count)
print("Digits =", digits_count)
print("Symbols =",symbols_count)

P@#yn26at^&i5ve
Total counts of chars, digits, and symbol
Chars = 8
Digits = 3
Symbols = 4

In [ ]:
str1=input("Enter a string1:")
str2=input("Enter a string2:")
str3=str1[0]+str2[-1]+str1[1]+str2[-2]+str1[2:]+str2[:-2]
print(str3)

Enter a string1:Abc
Enter a string2:Xyz
AzbycX

In [ ]:
experience = int(input("Enter the years of experience: "))

if experience > 8:
    bonus_percentage = 10
elif experience > 4:
    bonus_percentage = 7
elif experience > 2:
    bonus_percentage = 4
else:
    bonus_percentage = 0

salary = float(input("Enter the employee's salary: "))
bonus_amount = (bonus_percentage / 100) * salary

print("Employee's bonus:",bonus_amount)

Enter the years of experience: 12
Enter the employee's salary: 100000
Employee's bonus: 10000.0

In [ ]:
a=int(input())
if a<=100:
    print("No charge")
elif(a>100 and a<=200):
    print((a-100)*5)
elif a>200:
    b=500+(a-200)*10
    print(b)

350
2000

In [ ]:
marked_price = float(input("Enter the marked price: "))

if marked_price > 10000:
    discount_percentage = 20
elif marked_price > 7000:
    discount_percentage = 15
else:
    discount_percentage = 10

discount_amount = (discount_percentage / 100) * marked_price
net_amount = marked_price - discount_amount

print("Net amount to pay:",net_amount)

Enter the marked price: 8000
Net amount to pay: 6800.0

In [ ]:
marked_price = float(input("Enter the marked price: "))

if marked_price > 10000:
    discount_percentage = 20
elif marked_price > 7000:
    discount_percentage = 15
else:
    discount_percentage = 10

discount_amount = (discount_percentage / 100) * marked_price
net_amount = marked_price - discount_amount

print("Net amount to pay:",net_amount)

Enter the marked price: 10
Net amount to pay: 9.0

In [ ]:
def generate_primes(n):
    primes = []
    for num in range(2, n+1):
        if all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
            primes.append(num)
    return primes

n = int(input("Enter the value of n: "))
print("Prime numbers up to", n, "are:", generate_primes(n))

Enter the value of n: 10
Prime numbers up to 10 are: [2, 3, 5, 7]

In [ ]:
rows = 5

for i in range(0, rows):
    for j in range(0, rows - i - 1):
        print(" ", end="")
    for k in range(0, i + 1):
        print("*", end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
number = int(input("Enter a number: "))
reversed_number = int(str(number)[::-1])
print("Reversed number:", reversed_number)

Enter a number: 3256
Reversed number: 6523

In [ ]:
n=int(input("Enter a number:"))
t1=0
t2=1
t3=t1+t2
print(t1,t2)
count=0
while count<n:
  print(t3 ,end=" ")
  t1=t2
  t2=t3
  t3=t1+t2
  count+=1
print()

Enter a number:10
0 1
1 2 3 5 8 13 21 34 55 89

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
ev=[]
od=[]
evs=[]
ods=[]
for i in a:
    if(i%2==0):
        ev.append(i)
        evs.append(i*i)
    else:
        od.append(i)
        ods.append(i*i)
print(ev,od,evs,ods,end=" ")

[2, 4, 6, 8, 10] [1, 3, 5, 7, 9] [4, 16, 36, 64, 100] [1, 9, 25, 49, 81]

In [ ]:
list1=[2,4,8,7,34,24,9]
mini=list1[0]
maxi=list1[0]
for i in list1:
  if (maxi< i):
    maxi=i
  if(mini>i):
    mini=i
print("The maximum value is:",maxi)
print("The minimum value is: ",mini)

The maximum value is: 34
The minimum value is:  2

In [ ]:
li1=[2,4,8,7,34,24,9]
min=li1[0]
max=li1[0]
for i in li1:
  if (max< i):
    max=i
  if(min>i):
    min=i
print("BEFORE REMOVAL:",li1)
print("The first maximum value is:",max)
print("The first minimum value is: ",min)
li1.remove(maxi)
li1.remove(mini)
print("After Removal",li1)
maxi=list1[0]
mini=list1[0]
for j in list1:
  if(maxi < j):
    maxi=j
  if(mini > j):
    mini=j
print("The second maximum value is:",maxi)
print("The second minimum value is: ",mini)

BEFORE REMOVAL: [2, 4, 8, 7, 34, 24, 9]
The first maximum value is: 34
The first minimum value is:  2
After Removal [4, 8, 7, 24, 9]
The second maximum value is: 45
The second minimum value is:  2

In [ ]:
s= [45,67,83,24,55,87,77,34]
x=s.index(55)
print(x)

4

In [ ]:
T=[4,5,6,4,6,7,4,2,4,8,7]
max = 0
R = T[0]
for i in T:
    fre = T.count(i)
    if fre > max:
        max = fre
        R = i
print(R)

4

In [ ]:
def indian(ru):
  dollar=ru*0.012
  print("India (Rupee) to US (Dollar) conversion is:",dollar)
def celsius(c):
  fah=c*(9/5)+32
  print("Celsius to Fahrenheit:",fah)
def bami(wei,hei):
  bmi=wei/(hei*hei)
  print("BMI Calculation:",bmi)
def simple(p,r,t):
  inter=(p*r*t)/100
  print("Simple Interest Calculation:",inter)

rupee=int(input("Enter the rupees:"))
c=float(input("Enter celsius"))
wei=int(input("Enter weight"))
hei=int(input("Enter height"))
p=int(input("p"))
r=int(input("r"))
t=int(input("t"))

indian(rupee)
celsius(c)
bami(wei,hei)
simple(p,r,t)

Enter the rupees:12
Enter celsius7
Enter weight45
Enter height78
p7
r8
t5
India (Rupee) to US (Dollar) conversion is: 0.14400000000000002
Celsius to Fahrenheit: 44.6
BMI Calculation: 0.0073964497041420114
Simple Interest Calculation: 2.8

In [ ]:
def ascending_order(lst):
  for i in range(len(lst)):
      for j in range(i + 1, len(lst)):
          if lst[i] > lst[j]:
                lst[i], lst[j] = lst[j], lst[i]
  return lst
def descending_order(lst):
    for i in range(len(lst)):
        for j in range(i + 1, len(lst)):
            if lst[i] < lst[j]:
                lst[i], lst[j] = lst[j], lst[i]
    return lst
input_list = [5, 3, 7, 9, 8, 4, 2]
ascending_sorted = ascending_order(input_list.copy())
print("Ascending Order:", ascending_sorted)
descending_sorted = descending_order(input_list.copy())
print("Descending Order:", descending_sorted)

Ascending Order: [2, 3, 4, 5, 7, 8, 9]
Descending Order: [9, 8, 7, 5, 4, 3, 2]

In [ ]:
import random

class Voter:
    def __init__(self, name):
        self.name = name
        self.vote = None

class Candidate:
    def __init__(self, name):
        self.name = name
        self.votes = 0

voter_names = ["Voter1", "Voter2", "Voter3", "Voter4", "Voter5", "Voter6", "Voter7", "Voter8", "Voter9", "Voter10"]

voters = [Voter(name) for name in voter_names]

candidates = [Candidate("A"), Candidate("B"), Candidate("C")]

for voter in voters:
    voter.vote = random.choice(candidates)

for voter in voters:
    voter.vote.votes += 1

winner = max(candidates, key=lambda x: x.votes)
runner = min(candidates, key=lambda x: x.votes)

print("Winner:", winner.name)
print("Runner:", runner.name)

print("Voters who voted for the winner:")
for voter in voters:
    if voter.vote == winner:
        print(voter.name)

print("Voters who voted for the runner:")
for voter in voters:
    if voter.vote == runner:
        print(voter.name)

Winner: C
Runner: A
Voters who voted for the winner:
Voter3
Voter4
Voter6
Voter7
Voters who voted for the runner:
Voter2
Voter5
Voter8

In [ ]:
T=[4,5,6,4,6,7,4,2,4,8,7]
max = 0
R = T[0]
for i in T:
    fre = T.count(i)
    if fre > max:
        max = fre
        R = i
print(R)
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
for i in range(1):
  res={keys[0]:values[0],keys[1]:values[1],keys[2]:values[2]}
  print(res)

4
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
input_list = [0, 1, 0, 1, 1, 0, 1, 0, 1, 0]

sorted_list = sorted(input_list)

print(sorted_list)

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]